<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <partial name="RegisterPartial"/>  
    </div>
    <div class="col-1"></div>
    <div class="col">
        <partial name="LoginPartial"/>    
    </div>
    <div class="col-1"></div>
</div>
